<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <h3 class="nav-link active" href="#">Home</h3>
                    </li>

                    <li class="nav-item">
                        <h3 class="nav-link active" href="#">Galleries</h3>
                    </li>
                    <li class="nav-item" *ngFor="let gallery of galleries">
                        <a class="nav-link" href="#">{{ gallery.name }}</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col">
            <form enctype="multipart/form-data">
                <div class="form-group">
                    <label for="choseGallery">Gallerie</label>
                    <select id="choseGallery" class="form-control" #galleryName required>
                        <option *ngFor="let gallery of galleries">{{ gallery.name }}</option>
                    </select>
                    <label for="chosePictures">Ajouter des photos</label>
                    <input id="chosePictures" type="file" class="form-control-file" accept=".png,.jpg,.jpeg" (change)="uploadPicturesInGalleries($event)" multiple
                        required>
                </div>
            </form>
        </div>
    </div>
</div>