<!-- Page Content -->
<div class="container">
  <div class="row">

    <!-- SideMenu for big screen-->
    <div class="col-md-2 col-lg-1" *ngIf="sideMenu">
      <i class="pl-2" [innerHTML]="'aperture' | feather: '20': 'black'"></i>
      <ul class="nav flex-column nav-fill" id="sideBar">
        <li class="nav-item">
          <a class="nav-link disabled" href="#">GALLERY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">ACTIVITY</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">TOTO</a>
        </li>
      </ul>
      <!-- Fin sideMenu for big screen-->

    </div>
    <div class="col col-md-9 col-lg-10">
      <div class="row">

        <figure class="col-md-4">
          <a routerLink="/">
            <img class="figure-img img-fluid rounded" src="assets/images/cascade.jpg" alt="Landscape">
            <figcaption class="figure-caption  text-center">WEDDING</figcaption>
          </a>
        </figure>

        <div class="col-md-8">
          <div class="row">

            <figure class="col-md-6 ">
              <a routerLink="/">
                <img class="card-img-top " src="assets/images/123.jpg" alt="">
                <figcaption class="figure-caption text-center">PAYSAGES</figcaption>
              </a>
            </figure>
            <figure class="col-md-6 ">
              <a routerLink="/">
                <img class="card-img-top " src="assets/images/wed.jpg" alt="">
                <figcaption class="figure-caption text-center">WEDDING</figcaption>
              </a>
            </figure>
          </div>

          <div class="row">
            <figure class="col-md-6 ">
              <a routerLink="/">
                <img class="card-img-top " src="assets/images/wed.jpg" alt="">
                <figcaption class="figure-caption text-center">MACRO</figcaption>
              </a>
            </figure>
            <figure class="col-md-6 ">
              <a routerLink="/">
                <img class="card-img-top " src="assets/images/big.jpg" alt="">
                <figcaption class="figure-caption text-center">NATURE</figcaption>
              </a>
            </figure>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>